<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <h1 class="holder headline">
        Travel Planner
      </h1>
      <div id="trip-search-container">
        <div class="trip-input">
          <label for="destination"><h3>I'm going to:</h3></label>
          <input type="text" id="travel-to-city" name="destination"
                  placeholder="Enter Location Here">
          <span class="focus-border">
        </div>
  
        <div class="trip-input">
          <label for="travel-date"><h3>Departing</h3></label>
          <span class="focus-border">
          <input type="date" id="departing-date" name="travel-date" min="2019-12-31" max="2022-12-31">
        </div>
        <div class="trip-input">
          <label for="return-date"><h3>Returning</h3></label>
          <span class="focus-border">
          <input type="date" id="returning-date" name="return-date" min="2019-12-31" max="2022-12-31">
        </div>
      </div>
      <div id="action-buttons-container">
        <button name="button" id="save-trip-button" onclick="Client.handleSubmit(event)">Save Trip</button>
      </div>
      <div id="trip-results-container">
                        
      </div>
          
      </div>
         
          
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }   
    </script>
  </body>
</html>
